@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    font-family: 'Roboto', arial, sans-serif;
}

body {
    background-color: white;
}


/* do 359 px */

.hwrap {
    text-align: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.hwrap img {
    width: 80%;
    margin-top: 5px;
}

.logoup {
    border-bottom: 1px solid white;
    padding: 10px 0;
}


.jumbo {
    background-color: #eee;
    margin: 10px 0;
    padding: 15px 10px;
    color: #000;

}

.jumbo h1 {
    font-size: 1.6rem;
    text-align: center;
    margin: 0 12px;
}

.jumbo p {
    margin: 10px 0 0 0;
    font-size: 1.2rem;
    text-align: center;
}

.back {
    width: 100%;
    text-align: center;
}

.back button {
    background-color: #218838;
    margin: 0 auto;
    border: none;
    margin-top: 12px;
    width: 260px;
    border-radius: 10px;
    letter-spacing: 1px;
    padding: 5px;
    font-size: 0.8rem;
}

.fa-angle-double-right {
    padding-right: 20px;
}

.fa-angle-double-left {
    padding-left: 20px;
}

.back button a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}



@media (min-width: 533px) {
    .logoup {
        width: 45%;
        display: inline-block;
        border: 0;
    }

    .hwrap img {
        width: 80%;
        margin-top: 5px;
    }

    .jumbo h1 {
        font-size: 2rem;
    }

    .jumbo p {
        font-size: 1.4rem;

    }

    .back button {
        width: 320px;
        font-size: 1rem;
    }

    .colapse {
        margin: 20px 10px 10px 30px;
    }

}

@media (min-width: 768px) {

    .logoup {
        width: 30%;
        margin: 10px 10px;
        border: 0;
    }

    .hwrap img {
        width: auto;
        height: 65px;
        margin-top: 5px;
    }

    .jumbo h1 {
        font-size: 1.7rem;
    }

    .jumbo p {
        font-size: 1.3rem;

    }

    .back button {
        width: 360px;
        font-size: 1.1rem;
    }

}


@media (min-width: 1025px) {

    .logoup {
        width: 31%;
        margin: 10px 10px;
    }

    .hwrap img {
        margin-top: 15px;
        height: 118px;
    }

    .jumbo {
        margin-top: 15px;
    }

    .jumbo h1 {

        font-size: 50px;
    }

    .jumbo p {
        font-size: 28px;

    }

    .back button {
        transition: .5s;
    }

    .back button:hover {
        background-color: rgb(6, 75, 4);
    }

}

/**/