@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

:root {
    --bordo: #B11F36;
}

body {
    font-family: 'Roboto', arial, sans-serif;
}


main {
    max-width: 1600px;
    margin: 0 auto;
}

section {
    margin-bottom: 15px;
}

.calc {
    text-align: center;
    border-bottom: 1px solid grey;
}

.calc button {
    margin: 15px 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 290px;
    background-color: #577CBD;
    color: #eee;
    padding: 10px 0;
    border: 0;
    border-radius: 20px;

}

.calc p {
    font-size: 1.1rem;
    margin: 0 15px 15px;
}

/* indexpp.html */

:root {
    --formw: 80%;
    --formh: 50px;
}

.pp .collapse {
    text-align: left;
}


.form-group label {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

.form-group select {
    display: block;
    text-align: center;
    font-weight: bold;
    width: var(--formw);
    margin: 0 auto;
    height: var(--formh);
}

.form-group input {
    display: block;
    width: var(--formw);
    margin: 0 auto;
    height: var(--formh);
}

.ppcount {
    background-color: var(--bordo);
    color: white;
    border: none;
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 25px;
}

.pp p {
    text-align: justify;
    padding: 0 10px;
    font-size: 1.1rem;
}

.pp a {
    color: var(--bordo);
    outline: none;
}

.defkoszty ul {
    text-decoration: none;
    text-transform: none;
    list-style: none;
    text-align: justify;
    font-size: 1.1rem;
}

.defkoszty li {
    margin: 10px 0;
}

.defkoszty li i {
    padding-right: 15px;
}

.region .card-body {
    text-align: center;
    width: 100%;
}

.region .card-body img {
    width: 90%;
    height: auto;
}

.size .card-body img {
    display: none;
}


@media (min-width: 533px) {

    .calc button {
        width: 400px;
        padding: 5px 0;
        font-size: 26px;
        margin-top: 30px;
    }


    .calc p {
        font-size: 1.4rem;
    }

    /* indexpp.html */

    .size .card-body img {
        display: block;
        width: 100%;
        height: auto;
    }

}


@media (min-width: 768px) {

    .calc {
        width: 50%;
        height: 230px;
        float: left;
    }

    .cwrap .calc:nth-child(3) {
        height: 220px;
    }

    .cwrap .calc:nth-child(4) {
        height: 220px;
    }


    .calc button {
        width: 340px;
        padding: 12px 0;
        font-size: 1.4rem;
    }

    /* indexpp.html */

    .pp {
        float: left;
    }

    .pp:first-child {
        width: 35%;
    }

    .pp:last-child {
        width: 65%;
        padding: 0 20px;
    }

    .form-group label {
        margin-top: 0;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .ppcount {
        margin-top: 30px;
    }
}

@media (min-width: 1024px) {

    .cwrap {
        width: 100%;
    }

    .calc {
        width: 46%;
        margin: 0 20px;
        height: 250px;
    }

    .cwrap .calc:nth-child(3) {
        height: 230px;
    }

    .cwrap .calc:nth-child(4) {
        height: 230px;
    }

    .cwrap p {
        font-size: 22px;
    }

    .calc button {
        width: 400px;
        padding: 12px 0;
        font-size: 1.5rem;
    }

    .pp {
        margin-top: 20px;
    }

    .pp p {
        font-size: 1.3rem;
    }

    .pp label {
        font-size: 1.3rem;
    }

}


@media (min-width: 1366px) {

    .calc {
        width: 46%;
        margin: 0 20px;
        height: 200px;
    }

    .cwrap p {
        font-size: 1.5rem;
    }

    .cwrap .calc:nth-child(3) {
        height: 200px;
    }

    .cwrap .calc:nth-child(4) {
        height: 200px;
    }

    .calc button {
        transition: .55s;
    }

    .calc button:hover {
        background-color: #272D57;
        color: #FFF;
    }

}