@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

:root {
    --bordo: #B11F36;
    --blue: #577CBD;
    --blueh: #272D57;
    --bordoh: #4F181E;
}

body {
    font-family: 'Roboto', arial, sans-serif;
}


main {
    max-width: 1600px;
    margin: 0 auto;
}

section {
    margin-bottom: 15px;
}

.calc {
    text-align: center;
    border-bottom: 1px solid grey;
}

.calc button {
    margin: 15px 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 290px;
    background-color: var(--blue);
    color: #eee;
    padding: 10px 0;
    border: 0;
    border-radius: 20px;

}

.calc p {
    font-size: 1.1rem;
    margin: 0 15px 15px;
}

/* indexpp.html */

.pp .collapse {
    text-align: left;
}


.form-group label {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

.form-group select {
    display: block;
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    height: 50px;
}

.form-group input {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 50px;
}

.ppcount {
    background-color: var(--blue);
    color: white;
    border: none;
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 25px;
}

.pp p {
    text-align: justify;
    padding: 0 10px;
    font-size: 1.1rem;
}

.pp a {
    color: var(--bordo);
    outline: none;
}

.defkoszty ul {
    text-decoration: none;
    text-transform: none;
    list-style: none;
    text-align: justify;
    font-size: 1.1rem;
}

.defkoszty li {
    margin: 10px 0;
}

.defkoszty li i {
    padding-right: 15px;
}

.region .card-body {
    text-align: center;
    width: 100%;
}

.region .card-body img {
    width: 90%;
    height: auto;
}

.size .card-body img {
    display: none;
}

/* resultpp.html */

.rpp {
    font-size: 1.1rem;
    padding: 10px;
}

.rpp ul {
    list-style: none;
}

.rpp li {
    margin-top: 5px;
}

.rpp p {
    text-align: left;
}

p.ppvalue {
    text-align: center;
    font-size: 1.8rem;
    color: var(--blue);
    font-weight: bold;
}

p.ppvalue i {
    margin-right: 12px;
}

p.nosupport {
    color: var(--bordo);
    font-weight: bold;
}

p.notification {
    color: var(--bordo);
    font-weight: bold;
}

.euro {
    display: none;
}

.gmina {
    width: 50%;
}

.pln {
    width: 50%;
}

p.powiat {
    margin-top: 30px;
}

/* indexlok.html */

div.lwrap {
    padding: 10px;
    font-size: 1.1rem;
}

.radiowrap {
    text-align: center;
    margin-left: 30px;
}

label.form-check-label {
    margin: 0 10px;
}

input[type="radio"] {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Chrome, Safari, Opera */
    transform: scale(2);
}

div.lok label {
    margin-top: 10px;
}

div.lok form {
    text-align: center;
}

.radiowrap {
    margin-bottom: 20px;
}

div.lwrap .card-body {
    text-align: justify;
}

div.lwrap .card-body img {
    display: none;
}

div.lwrap .card-body ul {
    list-style: none;
    text-align: left;
}

div.lwrap .card-body li {
    margin-top: 10px;
}

div.lwrap i {
    margin-right: 12px;
}

div.frd {
    width: 100%;
}

/* resultslok.html */

div.rlok {
    font-size: 1.1rem;
}

div.rlok p {
    text-align: center;
}

div.rlok p.par {
    margin-bottom: 0;
}

div.parlok button {
    background-color: var(--blue);
    color: white;
    border: none;
    display: block;
    margin: 0 auto;
    width: 220px;
    padding: 8px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 1rem;
}

div.rlok p.fulfill {
    text-align: justify;
    padding: 8px;
}

div.rlok h1 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--bordo);
    margin-top: 30px;
}

div.rlok p.powiaty {
    margin-top: 30px;
}

div.lubuskie {
    margin-top: -20px;
}


@media (min-width: 533px) {

    .calc button {
        width: 400px;
        padding: 5px 0;
        font-size: 26px;
        margin-top: 30px;
    }


    .calc p {
        font-size: 1.4rem;
    }

    /* indexpp.html */

    .size .card-body img {
        display: block;
        width: 100%;
        height: auto;
    }

    /* resultpp.html */

    th {
        text-align: center;
    }

    th:first-child {
        text-align: left;
    }

    .euro {
        display: table-cell;
        width: 30%;
        text-align: center;
    }

    .gmina {
        width: 40%;

    }

    .pln {
        width: 30%;
        text-align: center;
    }

    /* indexlok.html */

    div.lok {
        width: 100%;
    }

    div.lok .form-group {
        display: block;
        float: left;
        width: 50%;
        text-align: center;
    }

    div.lwrap .card-body img {
        display: block;
        width: 100%;
        height: auto;
    }

    div.frd {
        width: 50%;
        float: left;
    }
}


@media (min-width: 768px) {

    .calc {
        width: 50%;
        height: 230px;
        float: left;
    }

    .cwrap .calc:nth-child(3) {
        height: 220px;
    }

    .cwrap .calc:nth-child(4) {
        height: 220px;
    }


    .calc button {
        width: 340px;
        padding: 12px 0;
        font-size: 1.4rem;
    }

    /* indexpp.html */

    .pp {
        float: left;
    }

    .pp:first-child {
        width: 35%;
    }

    .pp:last-child {
        width: 65%;
        padding: 0 20px;
    }

    .form-group label {
        margin-top: 0;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .ppcount {
        margin-top: 30px;
    }

    .pp p {
        font-size: 1.2rem;
    }

    .pp label {
        font-size: 1.2rem;
    }

    .form-group input {
        font-size: 1.2rem;
    }

    .pp li {
        font-size: 1.2rem;
    }

    .form-group select {
        font-size: 1.2rem;
    }

    /* resultpp.html */

    div.rpp {
        font-size: 1.2rem;
    }

    /* indexlok.html */

    div.lwrap {
        font-size: 1.2rem;
        text-align: justify;
    }

    div.lwrap button {
        display: block;
        margin-top: 0;
    }

    div.lbutton {
        clear: both;
    }

    div.radiowrap {
        margin-top: 10px;
    }

}

@media (min-width: 1024px) {

    .cwrap {
        width: 100%;
    }

    .calc {
        width: 46%;
        margin: 0 20px;
        height: 250px;
    }

    .cwrap .calc:nth-child(3) {
        height: 230px;
    }

    .cwrap .calc:nth-child(4) {
        height: 230px;
    }

    .cwrap p {
        font-size: 22px;
    }

    .calc button {
        width: 400px;
        padding: 12px 0;
        font-size: 1.5rem;
    }

    /* indexpp.html */

    .pp {
        margin-top: 20px;
    }

    .pp p {
        font-size: 1.3rem;
    }

    .pp label {
        font-size: 1.3rem;
    }

    .form-group input {
        font-size: 1.3rem;
    }

    .form-group select {
        font-size: 1.3rem;
    }

    .pp li {
        font-size: 1.3rem;
    }

    /* resultpp.html */

    div.rpp {
        font-size: 1.4rem;
    }

    p.ppvalue {
        font-size: 2rem;
    }

    div.rpp table.table {
        width: 80%;
        margin: 0 auto;
    }

    p.powiat {
        text-align: center;
    }

    /* indexlok.html */

    div.lwrap {
        font-size: 1.3rem;
        text-align: justify;
    }
}


@media (min-width: 1366px) {

    .calc {
        width: 46%;
        margin: 0 20px;
        height: 200px;
    }

    .cwrap p {
        font-size: 1.5rem;
    }

    .cwrap .calc:nth-child(3) {
        height: 200px;
    }

    .cwrap .calc:nth-child(4) {
        height: 200px;
    }

    .calc button {
        transition: .55s;
    }

    .calc button:hover {
        background-color: #272D57;
        color: #FFF;
    }

    /* indexpp.html */

    .pp {
        margin-top: 20px;
    }

    .pp p {
        font-size: 1.5rem;
    }

    .pp label {
        font-size: 1.5rem;
    }

    .form-group input {
        font-size: 1.5rem;
    }

    .form-group select {
        width: 60%;
        margin: 0 auto;
        height: 50px;
        font-size: 1.5rem;
    }

    .form-group input {
        width: 60%;
        height: 50px;
        margin: 0 auto;
    }

    .pp li {
        font-size: 1.5rem;
    }

    .ppcount {
        width: 230px;
        font-size: 1.3rem;
        letter-spacing: 3px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .ppcount:hover {
        background-color: var(--blueh);
    }

    .ppwrap a:hover {
        text-decoration: none;
        color: var(--bordoh);
    }

    /* resultpp.html */

    p.ppvalue {
        transition: .3s;
    }

    p.ppvalue:hover {
        font-size: 4rem;
    }

    .table {
        width: 65%;
        margin: 0 auto;
        max-width: 824px;
    }

    /* indexlok.html */

    div.lwrap .card-body img {
        margin: 0 auto;
        width: 70%;
    }

    div.lwrap {
        font-size: 1.5rem;
        text-align: justify;
    }

    div.lok h1 {
        margin: 50px 0 20px 0;
    }

    div.lok p.title {
        font-size: 1.6rem;
        text-align: center;
        margin: 0 0 30px 0;
    }

    div.lok label {
        margin-top: 0;
    }

    div.lwrap a {
        text-decoration: none;
        color: var(--bordo);
    }

    div.lwrap a:hover {
        color: var(--bordoh);
    }
}