<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
    <style>
        .box {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .box div {
            width: 100px;
            height: 100px;
        }
    </style>

    <style>
        .btn-own {
            background-color: #577CBD;
            color: #FFF;
        }

        .btn-own:hover {
            background-color: #272D57;
            color: #FFF;
        }
    </style>

    <style>
        .btn-ownb {
            background-color: #9E2F29;
            color: #FFF;
        }

        .btn-ownb:hover {
            background-color: #4F181E;
            color: #FFF;
        }
    </style>

</head>

<body>
<header>
<!--TOP-->
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="box">
                <img alt="Polska Strefa Inwestycji" height="75"
                     src="{{ url_for('static', filename='images/psi.png') }}">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="box">
                <img alt="Kostrzyńsko-Słubicka Specjalna Strefa Ekonomiczna S.A."
                     height="75" src="{{ url_for('static', filename='images/strefalogo.png') }}">
            </div>
        </div>
        <div class="col-sm-4" style="text-align: center">
            <div class="box">
                <img alt="Invest in the West" height="75"
                     src="{{ url_for('static', filename='images/Invest_in_the_west.png') }}">
            </div>
        </div>
    </div>
</div>
<br/>
</header>

{% block content %}{% endblock %}

<div class="container">
    <p style="text-align: justify">
        Zapraszamy do kontaktu z naszymi specjalistami, którzy pomogą w podjęciu decyzji oraz przedstawią mozliwości
        uzyskania wsparcia na nową inwestycję.<br/><br/>

        <button class="btn btn-own" type="button" data-toggle="collapse" data-target="#collapseExample8"
                aria-expanded="false" aria-controls="collapseExample8">
            Kontakt ze specjalistą
        </button>

        {% if specialist == 1 %}
            {% include 'babij.html' %}

        {% elif specialist == 2 %}
            {% include 'borowski.html' %}

        {% elif specialist == 3 %}
            {% include 'matula.html' %}

        {% elif specialist == 4 %}
            {% include 'kail.html' %}

        {% else %}
            {% include 'babij.html' %}
        {% endif %}
</div>
<hr/>
<!--STOPKA-->
<div class="container">
    <div class="row">
        <div class="col-sm-6" style="text-align: left">
            <img alt="Kostrzyńsko-Słubicka Specjalna Strefa Ekpnomiczna S.A." width="80%"
                 src="{{ url_for('static', filename='images/strefalogo.png') }}">
            <br/><br/><a href="http://kssse.pl" target="_blank">
            <button type="button" class="btn btn-ownb">Zapraszamy na naszą stronę internetową</button>
        </a>

        </div>
        <div class="col-sm-6" style="text-align: justify; background-color: #f5f3f3;">
            <p style="text-align: left"><i class="fas fa-map-marker-alt"></i> <b>Kostrzyńsko - Słubicka Specjalna Strefa
                Ekonomiczna S.A.</b><br/>
                ul. Orła Białego 22<br/>
                66-470 Kostrzyn nad Odrą<br/>
                NIP: 598-13-16-916
            <p><i class="fas fa-at"></i> info@kssse.pl<br/>
                <i class='fas fa-phone'></i> +48 95 721 98 00<br/>
                <i class="fab fa-facebook"></i><a href="https://fb.me/investpoland" target="_blank">
                    @investpoland</a><br/>
                <a href="http://kssse.pl" target="_blank">www.investinthewest.pl</a>

            </p></div>
    </div>
</div>
<div class="container">

    <p style="text-align: right">created by: <a href="http://babij.eu" target="_blank">babij.eu</a></p>
</div>

<script src="{{ url_for('static', filename='js/separator.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% block script %}{% endblock %}

</body>
</html>