
 <div class="collapse" id="collapseExample8">
            <div class="img"><img class="img-thumbnail" src="static/images/borowski.jpg" alt=""></div>
            <div class="contactdatas clearfix">
                <div class="contactname">
                    <h1>Maciej Borowski</h1>
                    <p>Główny specjalista</p>
                </div>
                <div class="icons">
                    <p><i class="fas fa-at"></i><strong><a href="mailto:borowski@kssse.pl"> borowski@kssse.pl</a> </strong></p>
                    <p><i class="fas fa-phone"></i>
                        <strong>95 721 98 30</strong>
                    </p>
                    <p><i class="fas fa-mobile-alt"></i>
                        <strong>512 135 523</strong>
                    </p>
                </div>
            </div>
        </div>