 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Kontakt ze specjalistą
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
<br/>
       <div class="row">
    <div class="col-sm-4">
       <p style="text-align: center"><img alt="Maciej Borowski" style="height:200px;" src="{{url_for('static', filename='borowski.jpg') }}" class="img-thumbnail"></p>
    </div>
    <div class="col-sm-8">
     <p><b>Maciej Borowski</b>
        <br />Główny specjalista</p>
        <p><i class="fas fa-at"></i><a href="mailto:borowski@kssse.pl"> borowski@kssse.pl</a> <br/>
            <i class='fas fa-phone'></i>  +48 95 721 98 30<br/>
            <i class="fas fa-mobile-alt"> </i> +48 512 135 523<br/><br/>
            <p style="text-align: left"><i class="fas fa-map-marker-alt"></i>  Kostrzyńsko - Słubicka Specjalna Strefa Ekonomiczna S.A.<br/>
        ul. Orła Białego 22<br/>
        66-470 Kostrzyn nad Odrą
  </div>
</div>
      </p>
    </div>
      </div>
