<!DOCTYPE html>
<html lang="pl">
<head>
       <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Polska Strefa Inwestycji - kalklatory</title>

    <style>
        .box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}

    </style>


</head>
<body>

<!--Nagłówek-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="box">
        <img alt="Polska Strefa Inwestycji" height="75" src="http://kssse.pl/assets/img/psi.png">
            </div>
    </div>

    <div class="col-sm-4">
        <div class="box">
        <img alt="Kostrzyńsko-Słubicka Specjalna Strefa Ekonomiczna S.A."
             height="75" src="http://kssse.pl/assets/img/KSSSE_logo.png">
        </div>
    </div>
    <div class="col-sm-4" style="text-align: center" >
        <img alt="Invest in the West" height="75" src="http://kssse.pl/assets/img/Invest_in_the_west.png">
    </div>
  </div>
</div>
<br/>
<!--JUMBO-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5" style="text-align: center" >Kostrzyńsko-Słubicka Specjalna Strefa Ekonomiczna S.A.</h1>
    <p class="lead" style="text-align: center" >Kalkulatory przydatne do uzyskania wsparcia w ramach Polskiej Strefy Inwestycji</p>
  </div>
</div>

<!--IKONY-->

<!--GÓRNE DWIE KOLUMNY-->

<div class="container">
  <div class="row">
    <div class="col">
                <div class="box"><br/><br/>
                    <a href="pomoc"><button type="button" class="btn btn-primary btn-lg">Wielkość pomocy</button></a>
        </div>
<br/>
        <p style="text-align: justify">Oblicza maksymalną wysokość wsparcia w ramach Polskiej Strefy Inwestycji przy
            wybranych parametrach.</p><hr />

    </div>
    <div class="col">

                <div class="box"><br/><br/>
        <a href="lokalizacje"><button type="button" class="btn btn-primary btn-lg">Lokalizacje ze wsparciem</button></a>
        </div>
<br/>
        <p style="text-align: justify">Pokazuje wszystkie gminy, w których możliwe jest wsparcie w ramach Polskiej
            Strefy inwestycji po wpisaniu odpowiednich parametrów. </p><hr />

    </div>
  </div>
<br/><br/>


   <!--DOLNE DWIE KOLUMNY-->

    <div class="row">
    <div class="col">
                <div class="box"><br/><br/>
                    <a href="naklady"><button type="button" class="btn btn-primary btn-lg">Minimalne nakłady</button></a>
        </div>
<br/>
        <p style="text-align: justify">Pokazuje minimalne wymagane koszty kwalifikowane inwestycji w wybranych
            powiatach i gminach. </p>
        <br/>

    </div>
    <div class="col">

                <div class="box"><br/><br/>
        <button type="button" class="btn btn-primary btn-lg">Opłata za administrowanie</button>
        </div>
<br/>
        <p style="text-align: justify">Każdy przedsiębiorca, który uzyska wsparcie (decyzję o wsparciu) od specjalnej
            strefy ekonomicznej, zobligowany jest  do uiszczania opłaty dla zarządzającego przez cały okres ważności
            decyzji. Kalkulator obliczą tą opłatę po podaniu wymaganych parametrów. </p>

    </div>
  </div>
    </div>
<hr />

<!--STOPKA-->

<div class="container">
    <div class="row">
  <div class="col-sm-6" style="text-align: left" >
<img alt="Kostrzyńsko-Słubicka Specjalna Strefa Ekpnomiczna S.A." width="80%" src="http://kssse.pl/assets/img/KSSSE_logo.png">
      <br/><br/><a href="http://kssse.pl" target="_blank"><button type="button" class="btn btn-danger">Zapraszamy na naszą stronę internetową</button></a>

</div>
  <div class="col-sm-6" style="text-align: justify; background-color: #f5f3f3;" >
      <p style="text-align: left"><i class="fas fa-map-marker-alt"></i>  <b>Kostrzyńsko - Słubicka Specjalna Strefa Ekonomiczna S.A.</b><br/>
        ul. Orła Białego 22<br/>
        66-470 Kostrzyn nad Odrą<br/>
      NIP: 598-13-16-916
        <p><i class="fas fa-at"></i> info@kssse.pl<br/>
            <i class='fas fa-phone'></i>  +48 95 721 98 00<br/>
      <i class="fab fa-facebook"></i><a href="https://fb.me/investpoland" target="_blank"> @investpoland</a><br/>
      <a href="http://kssse.pl" target="_blank">www.investinthewest.pl</a>

  </p></div></div></div>
    <div class="container">

    <p style="text-align: right">created by: <a href="https://babij.eu" target="_blank">babij.eu</a></p>
    </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>
</html>