{% extends 'base.html' %}

{% block title %}
    Polska Strefa Inwestycji - kalkulatory
{% endblock %}

{% block content %}

    <main>
        <section>
            <div class="cwrap clearfix">
                <div class="calc"><a href="pomoc"><button>wielkość pomocy</button></a>
                    <p>Oblicza maksymalną wysokość wsparcia przy wybranych parametrach.</p>
                </div>
                <div class="calc"><a href="lokalizacje"><button> lokalizacje ze wsparciem</button></a>
                    <p>Po wpisaniu parametrów wyswietla wszystkie gminy, w których możliwe jest wsparcie.</p>
                </div>
                <div class="calc"><a href="naklady"> <button>minimalne nakłady</button></a>
                    <p>Pokazuje minimalne wymagane koszty kwalifikowane inwestycji w wybranych powiatach i gminach.</p>
                </div>
                <div class="calc"><a href="oplata"><button>opłata za administrowanie</button></a>
                    <p>Oblicza opłatę do zarządzającego obszarem po podaniu wymaganych parametrów.</p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
