{% extends 'base.html' %}

{% block title %}
    Polska Strefa Inwestycji - kalkulatory
{% endblock %}

{% block content %}

    <!--JUMBO-->
        <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5" style="text-align: center" >Kostrzyńsko-Słubicka Specjalna Strefa Ekonomiczna S.A.</h1>
    <p class="lead" style="text-align: center" >Kalkulatory przydatne do uzyskania wsparcia w ramach Polskiej Strefy Inwestycji</p>
  </div>
</div>

<!--GÓRNE DWIE KOLUMNY-->
<div class="container">
  <div class="row">
    <div class="col">
                <div class="box"><br/><br/>
                    <a href="pomoc"><button type="button" class="btn btn-own btn-lg">Wielkość pomocy</button></a>
        </div>
<br/>
        <p style="text-align: justify">Oblicza maksymalną wysokość wsparcia w ramach Polskiej Strefy Inwestycji przy
            wybranych parametrach.</p><hr />

    </div>
    <div class="col">

                <div class="box"><br/><br/>
        <a href="lokalizacje"><button type="button" class="btn btn-own btn-lg">Lokalizacje ze wsparciem</button></a>
        </div>
<br/>
        <p style="text-align: justify">Pokazuje wszystkie gminy, w których możliwe jest wsparcie w ramach Polskiej
            Strefy inwestycji po wpisaniu odpowiednich parametrów. </p><hr />

    </div>
  </div>
<br/><br/>


   <!--DOLNE DWIE KOLUMNY-->
    <div class="row">
    <div class="col">
                <div class="box"><br/><br/>
                    <a href="naklady"><button type="button" class="btn btn-own btn-lg">Minimalne nakłady</button></a>
        </div>
<br/>
        <p style="text-align: justify">Pokazuje minimalne wymagane koszty kwalifikowane inwestycji w wybranych
            powiatach i gminach. </p>
        <br/>

    </div>
    <div class="col">

                <div class="box"><br/><br/>
        <button type="button" class="btn btn-own btn-lg">Opłata za administrowanie</button>
        </div>
<br/>
        <p style="text-align: justify">Każdy przedsiębiorca, który uzyska wsparcie (decyzję o wsparciu) od specjalnej
            strefy ekonomicznej, zobligowany jest  do uiszczania opłaty dla zarządzającego przez cały okres ważności
            decyzji. Kalkulator obliczą tą opłatę po podaniu wymaganych parametrów. </p>

    </div>
  </div>
    </div>
<hr />

{% endblock %}
