 <div class="collapse" id="collapseExample8">
            <div class="img"><img class="img-thumbnail" src="static/images/kail.jpg" alt=""></div>
            <div class="contactdatas clearfix">
                <div class="contactname">
                    <h1>Andrzej Kail</h1>
                    <p>Dyrektor Marketingu</p>
                </div>
                <div class="icons">
                    <p><i class="fas fa-at"></i><strong><a href="mailto:kail@kssse.pl"> kail@kssse.pl</a></strong></p>
                    <p><i class="fas fa-phone"></i>
                        <strong>95 721 98 18</strong>
                    </p>
                    <p><i class="fas fa-mobile-alt"></i>
                        <strong>601 171 811</strong>
                    </p>
                </div>
            </div>
        </div>
