<div class="collapse" id="collapseExample8">
  <div class="card card-body">
<br/>
       <div class="row">
    <div class="col-sm-4">
       <p style="text-align: center"><img alt="Agnieszka Matuła-Dziduch" style="height:200px; text-align: center" src="{{url_for('static', filename='aga.jpg') }}" class="img-thumbnail"></p>
    </div>
    <div class="col-sm-8">
     <p><b>Agnieszka Matuła-Dziduch</b>
        <br />Główny specjalista</p>
        <p><i class="fas fa-at"></i> <a href="mailto:matula-dziduch@kssse.pl"> matula-dziduch@kssse.pl</a> <br/>
            <i class='fas fa-phone'></i>  +48 95 721 98 35<br/>
            <i class="fas fa-mobile-alt"> </i> ++48 508 146 440<br/><br/>
            <p style="text-align: left"><i class="fas fa-map-marker-alt"></i>  Kostrzyńsko - Słubicka Specjalna Strefa Ekonomiczna S.A.<br/>
        ul. Orła Białego 22<br/>
        66-470 Kostrzyn nad Odrą
  </div>
</div>
      </p>
    </div>
      </div><br/>
