{% extends 'base.html' %}

{% block content %}

<div class="rlok">
  <p><strong>Podane parametry:</strong></p>

  <div>
    <p class="par">Koszty kwalifikowane:</p>
    <p class="put"><strong>{{  value }} {{ currency }}</strong></p>
  </div>

  <div>
    <p class="par">Wielkość przedsiębiorcy:</p>
    <p class="put"><strong>{{ size }}</strong></p>
  </div>

  <div>
    <p class="par"><strong>TYLKO</strong> działalność B+R i/lub BPO:</p>
    <p class="put">{% if rd == 'option1' %} <strong>TAK</strong>
      {% else %}
      <strong>NIE</strong>
      {% endif %}
    </p>
  </div>

  <div class="parlok">
    <a href="/lokalizacje"><button>Zmień parametry</button></a>
  </div>

  <div>
    <p class="fulfill">Lokalizacje spełniające kryteria ilościowe oraz minimalne nakłady
      w poszczególnych gminach przy podanych parametrach:</p>
  </div>

  <div class="lubuskie">
    <h1>Lubuskie</h1>
    {% for k,v in result.items() %}
    <p class="powiaty">Powiat <strong>{{ k }}</strong> w gminach:</p>

    <table class="table">
      <tr>
        <th class="gmina" scope="col">Gmina</th>
        <th class="pln" scope="col">PLN</th>
        <th class="euro">EURO</th>
      </tr>
    </table>
    {% for i in v %}
    <table class="table">
      <tr>
        <td class="gmina">{{ i }}</td>
        <td class="pln">{{ '{:,}'.format(lub[i]).replace(',', ' ') }} zł</td>
        <td class="euro">
          {% set test = lub[i]/cena | float %}
          {% set test2 = (test | string) [:-2] %} {{ '{0:,}'.format(test2|int).replace(',', ' ') }} &euro;
        </td>
      </tr>
    </table>
    {% endfor %}
    {% endfor %}
  </div>

  <div class="wielkopolskie">
    <h1>Wielkopolskie</h1>
    {% for k,v in resultw.items() %}
    <p class="powiaty">Powiat <strong>{{ k }}</strong> w gminach:</p>
    <table class="table">
      <tr>
        <th class="gmina" scope="col">Gmina</th>
        <th class="pln" scope="col">PLN</th>
        <th class="euro">EURO</th>
      </tr>
    </table>
    {% for i in v %}
    <table class="table">
      <tr>
        <td class="gmina">{{ i }}</td>
        <td class="pln">{{ '{:,}'.format(wlkp[i]).replace(',', ' ') }} zł</td>
        <td class="euro">
          {% set test = wlkp[i]/cena | float %}
          {% set test2 = (test | string) [:-2] %} {{ '{0:,}'.format(test2|int).replace(',', ' ') }} &euro;
        </td>
      </tr>
    </table>
    {% endfor %}
    {% endfor %}
  </div>

  <div class="zachodniopomorskie">

    <h1>Zachodniopomorskie</h1>
    {% for k,v in resultz.items() %}
    <p class="powiaty">Powiat <strong>{{ k }}</strong> w gminach:</p>
    <table class="table">
      <tr>
        <th class="gmina" scope="col">Gmina</th>
        <th class="pln" scope="col">PLN</th>
        <th class="euro">EURO</th>
      </tr>
    </table>
    {% for i in v %}
    <table class="table">
      <tr>
        <td class="gmina">{{ i }}</td>
        <td class="pln">{{ '{:,}'.format(zach[i]).replace(',', ' ') }} zł</td>
        <td class="euro">
          {% set test = zach[i]/cena | float %}
          {% set test2 = (test | string) [:-2] %} {{ '{0:,}'.format(test2|int).replace(',', ' ') }} &euro;
        </td>
      </tr>
    </table>
    {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}