{% extends 'base.html' %}

{% block title %}Opłata za administrowanie{% endblock %}

{% block content %}

        <!--JUMBO-->
        <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5" style="text-align: center" >Opłata za administrowanie</h1>
    <p class="lead" style="text-align: center" >Policz jaką opłatę poniesiesz mając decyzję o wspraciu</p>
      <div class="box">
      <a class="btn btn-success btn-lg" href="/" role="button">Pokaż inne kalkulatory</a>
          </div>
  </div>
</div>
    <!--ENDJUMBO-->

    <!--RESULT-->
    <div class="container">
  <div class="row">
    <div class="col-sm-4"> <!-- KOLUMNA1-->

        <h5 style="text-align: center">Podane parametry:</h5>
        <hr />
        <h6 style="text-align: center">Koszty kwalifikowane</h6>
        <p style="text-align: center">{{ '{:,}'.format(expenditures).replace(',', ' ') }} {{ currency }}</p>
        <hr />

        <h6 style="text-align: center">Powierzchnia</h6>
        <p style="text-align: center">{{ '{:,}'.format(area).replace(',', ' ') }} m<sup>2</sup></p>
        <hr />

        <h6 style="text-align: center">Nowe miejsca pracy</h6>
        <p style="text-align: center">{{ jobs }}</p>
        <hr />

        <h6 style="text-align: center">Przedsiębiorca</h6>
        <p style="text-align: center">{{ size }}</p>
        <hr />

        <h6 style="text-align: center">Infrastruktura techniczna</h6>
        <p style="text-align: center">{% if infrastructure == 'option1' %}TAK{% else %}NIE{% endif %}</p>
        <hr />

        <h6 style="text-align: center">Okres obowiązywanie decyzji</h6>
        <p style="text-align: center">{{ '{:,}'.format(time).replace(',', ' ') }}</p>
        <hr />

    </div><!--end column1-->

  <!--KOLUMNA2-->
    <div class="col-sm-8">

    <p style="text-align: center">Przy podanych parametrach opłata miesięczna do zarządzającego specjalną strefą
        ekonomiczną wynosi:</p>

    <p style="text-align: center; font-size: 36px"><i class='fas fa-handshake' style='font-size:48px;color:#577CBD'></i>

    <b>{% set monthly = '{:,.2f}'.format(pay).replace(',', ' ').replace('.', ',') %}
        {% if monthly[-1] == '0' and monthly[-2] == '0' %}
        {{ monthly[:-3] }}
        {% else %}
        {{ monthly }}
        {% endif %}

        {{ currency }}</b></p>


    <p>co daje <b>{{ '{:,.2f}'.format(przelicznik).replace(',', ' ').replace('.', ',') }}
     {% if currency == 'EURO' %}
        PLN
        {% else %}
        EURO
        {% endif %}

    </b>według kursu EURO Narodowego Banku Polskiego <b>{{ cena }} zł</b>
        z dnia <b>{{ date[8:10] }}.{{ date[5:7] }}.{{ date[0:4] }} roku.</b></p>


{% endif %}


    </div><!--end column2-->
  </div> <!--end row-->
    </div>  <!--end CONTAINER-->



{% endblock %}